In [23]:
# Creating a series from a list,a dictionary and a numpy_array

In [24]:
import numpy as np
import pandas as pd

In [25]:
shanas = ['Sabi_geh', 'Mofe', 'Ire', 'Fuad']
num = [1, 2, 3, 4]
ary = np.array(num)
dico_love = {1:'Sabi_geh', 2:'Mofe', 3:'Ire', 4:'Fuad'}

In [26]:
pd.Series(data = shanas)

0    Sabi_geh
1        Mofe
2         Ire
3        Fuad
dtype: object

In [27]:
pd.Series(data = shanas, index = num)

1    Sabi_geh
2        Mofe
3         Ire
4        Fuad
dtype: object

In [28]:
pd.Series(shanas, num)

1    Sabi_geh
2        Mofe
3         Ire
4        Fuad
dtype: object

In [29]:
pd.Series(ary,shanas)

Sabi_geh    1
Mofe        2
Ire         3
Fuad        4
dtype: int32

In [30]:
pd.Series(dico_love)

1    Sabi_geh
2        Mofe
3         Ire
4        Fuad
dtype: object

In [31]:
# demonstrating the flexibility of Pandas Series
pd.Series(data = [len,sum,bool])

0    <built-in function len>
1    <built-in function sum>
2             <class 'bool'>
dtype: object

In [34]:
# Grabbing information from a Series
ser1 = pd.Series([1,2,3,4,], ['DCS','GDG','WOMEN_TECH_MAKERS','AGBA_DEV'])

In [35]:
ser1

DCS                  1
GDG                  2
WOMEN_TECH_MAKERS    3
AGBA_DEV             4
dtype: int64

In [36]:
ser2 = pd.Series([1,2,3,4], ['DCS','GDG','SHE_CODE_AFRICA','AGBA_DEV'])

In [37]:
ser2

DCS                1
GDG                2
SHE_CODE_AFRICA    3
AGBA_DEV           4
dtype: int64

In [38]:
ser1['WOMEN_TECH_MAKERS']

3

In [39]:
ser3 = pd.Series(data = shanas)

In [40]:
ser3[0]

'Sabi_geh'

In [41]:
ser1 + ser2
#NB: integers are converted into floats in order to retain all the information possible

AGBA_DEV             8.0
DCS                  2.0
GDG                  4.0
SHE_CODE_AFRICA      NaN
WOMEN_TECH_MAKERS    NaN
dtype: float64